@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon {
  @apply
    w-11 h-11               
    sm:w-12 sm:h-12         
    flex items-center justify-center
    rounded-full
    text-white
    text-lg sm:text-xl md:text-2xl
    hover:scale-110
    hover:shadow-lg
    transition-all duration-300;
}

